{% extends "base.html.jinja2" %}
{% block content %}
    <h1>Home</h1>
    <p class="important">
        <span class="tr" id="intro">
          Hi ! I'm Romain Fauquet, my nickname is Sirfanas, this means Romain in Elfic languages, I found this precise translation on a real professional website. Ok I just lost myself on Google.
        </span>
    </p>
{% endblock %}
