{% extends "base.html.jinja2" %}
{% block content %}
    <h1>Home</h1>
    <p class="important">
        <span class="tr" id="test">
          Basic text
        </span>
        <span class="tr" id="outro">
          My outro
        </span>
    </p>
{% endblock %}
